body {
    background-image: url("/Images/STORM.webp");
    background-size: cover;
    height: 100vw;
}

body {
    margin: 0vw;
}

h1 {
    text-align: center;
    font-size: 1.5vw;
}

h2 {
    text-align: center;
    font-size: 1vw;
}

.navbar ul {
    list-style-type: none;
    padding: 0vw;
    margin: 0vw;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.75vw;
}

.navbar li {
    float: left;
    font-size: 1.5vw;
}

.login {
    font-size: 1vw;
    padding-top: 5%;
    padding-left: 1vw;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Dosis";
    padding-bottom: 1vw;
    gap: 0vw;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-color: black;
    text-align: left;

}

.footer p {
    font-size: 0.5vw;
    padding-left: 0.5vw;
    margin-bottom: 0vw;
}
.footer h4{
    font-size: 2vw;
    padding-left: 0.5vw;
    margin-bottom: 0vw;
    margin-top: 0.5vw;
}
.socials {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.25vw;
    margin-bottom: 1%;
    padding-top: 0vw;
    margin-top: 0vw;
}

img {
    padding-top: 1.5vw;
    height: 1.5vw;
    padding-right: 0vw;
}

.address {
    padding-top: 0.75vw;
    font-size: 3vw;
}

.phone {
    padding-top: 0.75vw;
    font-size: 3vw;
}

.email {
    padding-top: 0.75vw;
    font-size: 3vw;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

h3 {
    text-align: center;
    font-size: 3vw;
}
