body{ 
    background-image: url("/Images/STORM.webp");
    background-size: cover;
    height:100vh;
}

body{
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 90px;
  }

  h2 {
    text-align: center;
    font-size: 60px;
  }
.navbar ul{
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      overflow: hidden;
      display: flex;
      justify-content: space-evenly;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
}
.navbar li{
    float: left;
    font-size: 50px;
}

.navbar2{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display:flex;flex-direction: row-reverse;
    text-align: center;
}

.navbar2 a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

.navbar2 {
    font-size: 50px;
}

.navbar2 li{
    float: left;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
    font-family: "Dosis";
    padding-bottom: 10px;
    gap: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:black;
    height: 150px;
    
  }
  .socials{
    display:flex;
    justify-content: space-evenly;
  }
img{
    padding-top: 30px;
    height: 100px;
    padding-right: 30px;
}
.address{
    padding-top: 15px;
    font-size: 20px;
}
.phone{
    padding-top: 15px;
    font-size: 20px;
}
.email{
    padding-top: 15px;
    font-size: 20px;
}
button{
    background: none;
    border: none;
    cursor:pointer;
}
h3{
    text-align: center;
    font-size: 60px;
}
