body {
    background-image: url("/Images/STORM.webp");
    background-size: cover;
    height: 300vw;
    margin: 0vw;
}


h1 {
    text-align: center;
    font-size: 4.5vw;
    color: white;
    font-family: "Protest Strike";
}

h2 {
    text-align: center;
    font-size: 3vw;
    color: white;
    font-family: "Protest Strike"
}

#navbar {
   position:sticky;
    top: 0;
    overflow: hidden;
}





.nav {
    position:sticky;
    padding: 0vw;
    margin: 0vw;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10vw;
    font-family: "Protest Strike";
}

.login{
    padding-left: 25vw;
    margin-right:0vw;
}
.login a{
    margin-right: 0vw;
    padding-right: 0vw;

}
p{
    text-align: right;
    font-size: 2vw;
    font-family: "Protest Strike";
}

li {
    font-size: 2.5vw;
    margin: 0vw;
    padding: 0vw 1vw;
    display: inline-block;
}

li a {
    text-decoration: none;
    color: white;
    font-family: "Protest Strike";
}

li a:hover {
    text-decoration: underline;
}
html{
    scroll-behavior: smooth;
}
.Sessions{
    padding-top: 100vw;
}



.footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
    font-family: "Dosis";
    padding-bottom: 0.5vw;
    gap: 0.75vw;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: black;
    height: 30vw;

}

.socials {
    display: flex;
    justify-content: space-evenly;
}

img {
    padding-top: 1.5vw;
    height: 5vw;
    padding-right: 1.5vw;
}

.address {
    padding-top: 0.75vw;
    font-size: 5vw;
}

.phone {
    padding-top: 0.75vw;
    font-size: 5vw;
}

.email {
    padding-top: 0.75vw;
    font-size: 5vw;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

h3 {
    text-align: center;
    font-size: 3vw;
}

form{
    text-align-last: center;

}
.side #search {
    left: 0;
    position: absolute;
    text-align: center;
    top: 1.25vw;
    width: 100%;
    z-index: 100;
}

input {
    font-size: 100%;
    border-radius: 1.25vw;
    margin-left: 27%;
}




